*{
    margin: 0%;
    padding: 0%;
}
#menu ul{
    background-image: linear-gradient(to bottom,#0d303d, black);
    list-style: nome;
}
#menu ul li{
    display: inline;
}
#menu ul li a{
    padding: 30px 10px;
    display: inline-block;
    color: rgb(252, 252, 252);
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#menu ul li a:hover{
    color:#58A69E; 
}
#inicio{
    background-image: url(astronautas_0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 460px;
    width: 1325px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 32px;
}
#nome{
    background-image: linear-gradient(to right, #152749,#092246,#020708);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}
body{
    background-image: linear-gradient(to right, #8195A6,#586F8C,#353940);;
}
main{
    background-image: linear-gradient(to right, #8195A6,#586F8C,#353940);
    width: 1325px;
    padding: 10px;
    margin: auto; 
}
h2{
    text-align: justify;
    color: rgb(245, 245, 245);
    margin: 2%;
    font-family: 'Roboto', sans-serif;

}
h6{
    font-size: 25px;
}
p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 2% 5%;
    font-size: 30px;
    color:#CBE6BE;
}

#sobremim h2 {
    text-align: left;
    padding: 0% 5%
}
#sobremim div{
    padding: 11%;
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: center;
    background-image: url(ceu\ estrelado.jpg);
    border-radius: 2%;   
}
#sobremim div img{
    border-radius: 10%;
}
#formação h2{
    text-align: right;
    padding: 0% 5%
}
#formação p{
    background-image: url(ceu\ estrelado.jpg);
    padding: 13% ;
    border-radius: 2%;
   
}
#objetivo h2{
    text-align: left;
    padding: 1% 1%
}
#objetivo p{
    background-image: url(ceu\ estrelado.jpg);
    padding: 13% ;
    border-radius: 2%;
}
#curiosidades h2{
    text-align: right;
    padding: 0% 5%
}
#curiosidades div{
    background-image: url(ceu\ estrelado.jpg);
    padding: 12% ;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contatos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2% 2%;
    border-radius: 40px;

}
footer h3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2% 2%;
}
footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 2%;
    font-size: 30px;
    text-decoration: none;
    color: rgb(252, 252, 252);

}
